#fade {
  background-image: linear-gradient(
    transparent 12%,
    currentColor 30%,
    currentColor 70%,
    transparent 86%
  );

  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
}

#fade_p {
  margin: 20px 0;
  color: transparent;
}
